/*
 * Estilos
 */
.wrapper
{
  border-right:solid 1px #BFBFBF;
  border-left:solid 1px #BFBFBF;
  border-bottom:solid 1px #BFBFBF;
  padding:0 15px;
  padding-bottom:10px;
  width:80%;
  margin:0 auto;
  overflow: hidden;
}

  .mainHeader {
    background-color: #F3F3F3;
    padding:10px 10px;
  }

  .content { clear:left; }

  .productsList { list-style: none; }
  .productsList:last-child { margin:0; }

  .productItem {
    position: relative;
    width:210px;
    border:solid 1px #BFBFBF;
    border-radius:5px;
    text-align: center;
    float:left;
    margin-right: 10px;
  }

  .productItem span {
    font-weight: bold;
    width:100%;
    display: block;
  }

  .productItem em {
    width:100%;
    margin:5px;
    display: block;
  }

  .productItem p {
    width:80%;
    margin:5px auto;
    font-size: 13px;
  }

  .productItem button { width:90%; padding-left:16px;}

  .loader {
    display: none;
    position: absolute;
    width:100%;
    height:100%;
    background-color:#F3F3F3;
    opacity:.8;
  }

  .loader img {
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-12px;
    margin-top:-12px;
  }

.mainNav ul {
  list-style:none;
  margin:10px 0; padding: 0;
}

.mainNav ul li {
  float:left;
  min-width: 110px;
  text-align: center;
  margin-right: 10px;
}

.mainNav ul li a {
  display: block;
  text-decoration: none;
  background-color: #F3F3F3;
  padding: 5px;
}

.mainNav ul li:last-child {
  float:right;
  margin-right: 0;
}

.cart-buttons {
  width:50px;
  height: 15px;
  margin:0 5px;
  padding:4px;
  font-size:11px;
  border-radius: 8px;

  float:right;
}

.cart-buttons.danger { background-color: #F25C54; color:#f2cdcb; }

.cart-buttons:first-child { margin-right:0 !important;}