
<div id="msg" style="display:none;">&nbsp;</div>
<div id="contenedor"></div>
<div>Intentos: <em id="intentos">5</em></div>
<div>
    <span>Letras utilizadas</span>
    <ul>
        <li>No se utilizó ninguna letra</li>
    </ul>
</div>
<div>
    <span>Letra:&nbsp;<input id="txtLetra" type="text" style="width:15px" maxlength="1" />&nbsp;<button id="btnProbar" onclick="chequearLetra()">Probar</button></span>
</div>

<!--
palabras = ["aromatica", "transatlantico", "atrilejo", "binchuca"];
cantPalabras = palabras.length;

randomIndex = Math.floor( Math.random() * cantPalabras );

palabraElegida = palabras[ randomIndex ];
console.log( palabraElegida );
cantLetras = palabraElegida.length;

contenedor = document.getElementById("contenedor");
indicesLetrasEncontradas = [];

for( var i=0; i<cantLetras;i++) {
    contenedor.innerHTML += '<input type="text" class="letra" maxlength="1" style="width:15px" disabled />';
}

function chequearLetra()
{
    indicesLetrasEncontradas = [];
    var letra = document.getElementById('txtLetra').value;

    for( var i=0; i<cantLetras; i++ )
    {
        if( letra === palabraElegida[i] ) {
             indicesLetrasEncontradas.push( i );
        }
    }

    reemplazarLetras();
}

function reemplazarLetras()
{
    /*
    for( var j=0; j<cantLetras;j++) {
            if( j == indicesLetrasEncontradas[i]) {
                 inputLetras[j].value = palabraElegida[j];
            }
        }
    */
    var inputLetras = document.getElementsByClassName('letra');
    var cantLetrasEncontradas = indicesLetrasEncontradas.length;

    for( var i=0; i<cantLetrasEncontradas; i++ ) {

    inputLetras[indicesLetrasEncontradas[i]].value = palabraElegida[indicesLetrasEncontradas[i]];
    }
}
-->