.mainBackground {
    background-color: #F3F3F3;
    min-height: 265px;
    width:100%;
    position: absolute; top:0; left:0;
}

.mainNavigation ul { list-style: none; padding:0; margin:0; background-color: black; width:100%; height: 40px; }

.mainNavigation ul li { float:left; }
.mainNavigation ul li:last { margin-right:0; }
.mainNavigation ul li a {
  display: block;
  min-width: 140px;
  height: 40px;
  background-color: black;
  color:white;
  text-align: center;
  outline: none;
  text-decoration: none;
  line-height: 40px;
}

.mainNavigation ul li a:hover {
  background-color:#F3F3F3;
  color:black;
}

.mainNavigation ul li a.specialOption {
  position: relative;
  top:-10px; left:-10px;
  width:190px;
  height: 60px;
  line-height: 60px;
  background-color: #ff0000;
  text-transform: uppercase;
}

.mainNavigation ul li a.selected {
  background-color:#F3F3F3;
  color:#333;
}

.mainNavigation ul li a.specialOption:hover {
  font-size:18px;
}

.mainMenu {
  background-color: #F3F3F3;
}

.mainMenu.statsMenu ul { list-style-type: none; }
.mainMenu.statsMenu ul li span { font-weight: bold; }

/**
 * Game console
 */
.console {
  min-height: 400px;
  background-color: #333;
  color:#F3F3F3;
  font-family: "Courier";
  font-size:1em;
}

.console ul {
  padding-top:15px;
  width:95%; margin:0 auto;
  list-style: none;
}

.console ul li { padding:2px 0; margin:0; }
.console ul li.confirmation { color:#5dc35d; }
.console ul li.error, li.attack { color:red; }

.robotName {
color:#f1c40f;
}


/**
 * Footer
 */
.mainFooter {
  background-color: black;
  color:#F3F3F3;
}

.mainFooter ul { list-style: none; padding:10px 0; margin:0; }
.mainFooter ul li { float:left; margin-right:20px; }
.mainFooter ul li:last { margin-right:0; }

.mainFooter ul li a {
  display: block;
  min-width: 70px; height: 70px;
  color:#666;
  background-color: #F3F3F3;
  text-decoration: none;
  text-align: center;
  outline: none;
  line-height: 70px;
  border-radius: 70px;
  font-size: .7em;
}

.mainFooter ul li a:hover {
  color:#F3F3F3;
  background-color:#666;
}

/* Tuning ON */

a.nav-btn {
  color: white;
  font-size: 18px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -1px;
  background: transparent !important;

}
a.nav-btn:hover {
  color:white !important;
  background-color: red !important;
}
.rounded {
  -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
overflow:hidden;
}
.error {
    position: absolute;
    top: 15px;
    background-color: white;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
text-align: center;
display: none;
width: 100%;
}
